/* line 2, ../sass/global.scss */
body {
  width: 900px;
  height: 600px;
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 15px;
}

/* line 12, ../sass/global.scss */
table#content {
  width: 100%;
  height: 100%;
  border-spacing: 0px;
}
/* line 18, ../sass/global.scss */
table#content td {
  width: 50%;
}

/* line 24, ../sass/global.scss */
div.main_column {
  display: inline-block;
  width: 100%;
  height: 100%;
  border: 1px solid black;
}

/* line 32, ../sass/global.scss */
.error {
  color: red;
}

/* line 39, ../sass/global.scss */
#resources_column td.title {
  font-weight: bold;
  border: 2px solid black;
}
/* line 45, ../sass/global.scss */
#resources_column td {
  min-width: 150px;
  border: 1px solid black;
}
