/* line 3, ../sass/header.scss */
#header {
  position: absolute;
  left: 19%;
  width: 62%;
  height: 28px;
  z-index: 1;
}
/* line 10, ../sass/header.scss */
#header.theme_dark {
  background-color: #323232;
  border-bottom: 1px solid #232323;
}
/* line 14, ../sass/header.scss */
#header.theme_light {
  background-color: #f0f0f0;
  border-bottom: 1px solid #646464;
}
/* line 19, ../sass/header.scss */
#header p {
  display: inline-block;
  margin: 4px 5px 0;
}
/* line 24, ../sass/header.scss */
#header #settings {
  position: absolute;
  right: 300px;
  top: 0;
  width: 185px;
  min-height: 100%;
  background-color: inherit;
}
/* line 32, ../sass/header.scss */
#header #settings.theme_dark {
  border: 1px solid #232323;
  border-top: none;
}
/* line 36, ../sass/header.scss */
#header #settings.theme_light {
  border: 1px solid #646464;
  border-top: none;
}
/* line 41, ../sass/header.scss */
#header #settings .settings-header {
  height: 28px;
  cursor: pointer;
}
/* line 46, ../sass/header.scss */
#header #settings .icon-cog {
  position: absolute;
  top: 6px;
  right: 7px;
}
/* line 52, ../sass/header.scss */
#header #settings .settings-dropdown {
  display: none;
  width: 90%;
  padding: 10px 5%;
  background-color: inherit;
  z-index: 3;
}
/* line 59, ../sass/header.scss */
#header #settings .settings-dropdown p {
  margin-bottom: 5px;
  display: block;
}
/* line 64, ../sass/header.scss */
#header #settings .settings-dropdown #theme-holder {
  width: 100%;
}
/* line 67, ../sass/header.scss */
#header #settings .settings-dropdown #theme-holder button {
  width: 50%;
}
/* line 72, ../sass/header.scss */
#header #settings .settings-dropdown #settings-apply {
  margin-top: 15px;
  width: 35%;
}
/* line 79, ../sass/header.scss */
#header #account {
  float: right;
  width: 300px;
  min-height: 100%;
  background-color: inherit;
}
/* line 85, ../sass/header.scss */
#header #account.theme_dark {
  border-left: 1px solid #232323;
  border-bottom: 1px solid #232323;
}
/* line 89, ../sass/header.scss */
#header #account.theme_light {
  border-left: 1px solid #646464;
  border-bottom: 1px solid #646464;
}
/* line 94, ../sass/header.scss */
#header #account .account-header {
  height: 28px;
  cursor: pointer;
}
/* line 99, ../sass/header.scss */
#header #account .icon-user {
  position: absolute;
  top: 6px;
  right: 7px;
}
/* line 105, ../sass/header.scss */
#header #account .login-dropdown {
  display: none;
  background-color: inherit;
  width: 90%;
  padding: 10px 5%;
  z-index: 3;
}
/* line 112, ../sass/header.scss */
#header #account .login-dropdown input[type=text], #header #account .login-dropdown input[type=password] {
  width: 94%;
  padding-right: 3%;
  padding-left: 3%;
}
/* line 118, ../sass/header.scss */
#header #account .login-dropdown #login-control-group {
  position: relative;
}
/* line 121, ../sass/header.scss */
#header #account .login-dropdown #login-control-group .forgot-password {
  position: absolute;
  width: 29px;
  min-width: 29px;
  max-width: 126px;
  height: 28px;
  right: -2px;
  top: 0;
  border: 1px solid;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
/* line 133, ../sass/header.scss */
#header #account .login-dropdown #login-control-group .forgot-password.theme_dark {
  border-color: #121212;
  background: #323232;
}
/* line 137, ../sass/header.scss */
#header #account .login-dropdown #login-control-group .forgot-password.theme_light {
  border-color: #787878;
  background: #e1e1e1;
}
/* line 142, ../sass/header.scss */
#header #account .login-dropdown #login-control-group .forgot-password .icon-question-sign {
  position: absolute;
  left: 7px;
  top: 6px;
}
/* line 148, ../sass/header.scss */
#header #account .login-dropdown #login-control-group .forgot-password #forgot-password-button {
  display: none;
  position: absolute;
  right: 4px;
  top: 3px;
  white-space: nowrap;
}
/* line 158, ../sass/header.scss */
#header #account .login-dropdown #email-control-group {
  position: relative;
}
/* line 161, ../sass/header.scss */
#header #account .login-dropdown #email-control-group .email-verified {
  position: absolute;
  width: 29px;
  min-width: 29px;
  height: 28px;
  right: -2px;
  top: 0;
  border: 1px solid;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 1;
}
/* line 173, ../sass/header.scss */
#header #account .login-dropdown #email-control-group .email-verified.theme_dark {
  border-color: #121212;
  background: #323232;
}
/* line 177, ../sass/header.scss */
#header #account .login-dropdown #email-control-group .email-verified.theme_light {
  border-color: #787878;
  background: #e1e1e1;
}
/* line 182, ../sass/header.scss */
#header #account .login-dropdown #email-control-group .email-verified[verified=true] {
  max-width: 124px;
}
/* line 185, ../sass/header.scss */
#header #account .login-dropdown #email-control-group .email-verified[verified=false] {
  max-width: 165px;
}
/* line 189, ../sass/header.scss */
#header #account .login-dropdown #email-control-group .email-verified i {
  position: absolute;
  left: 7px;
  top: 6px;
}
/* line 195, ../sass/header.scss */
#header #account .login-dropdown #email-control-group .email-verified p, #header #account .login-dropdown #email-control-group .email-verified button {
  display: none;
  position: absolute;
  right: 4px;
  top: 3px;
  white-space: nowrap;
}
/* line 203, ../sass/header.scss */
#header #account .login-dropdown #email-control-group .email-verified p {
  margin: 2px 4px;
}
/* line 208, ../sass/header.scss */
#header #account .login-dropdown #email-control-group .edit-email {
  position: absolute;
  width: 29px;
  min-width: 29px;
  max-width: 64px;
  height: 28px;
  right: 27px;
  top: 0;
  border: 1px solid;
}
/* line 218, ../sass/header.scss */
#header #account .login-dropdown #email-control-group .edit-email.theme_dark {
  border-color: #121212;
  background: #323232;
}
/* line 222, ../sass/header.scss */
#header #account .login-dropdown #email-control-group .edit-email.theme_light {
  border-color: #787878;
  background: #e1e1e1;
}
/* line 227, ../sass/header.scss */
#header #account .login-dropdown #email-control-group .edit-email i {
  position: absolute;
  left: 7px;
  top: 6px;
}
/* line 233, ../sass/header.scss */
#header #account .login-dropdown #email-control-group .edit-email button {
  display: none;
  position: absolute;
  right: 4px;
  top: 3px;
  white-space: nowrap;
}
/* line 243, ../sass/header.scss */
#header #account .login-dropdown p {
  margin-bottom: 5px;
  display: block;
}
/* line 248, ../sass/header.scss */
#header #account .login-dropdown .button-holder {
  width: 100%;
  text-align: right;
}
/* line 253, ../sass/header.scss */
#header #account .login-dropdown .control-group {
  margin: 0;
}
/* line 257, ../sass/header.scss */
#header #account .login-dropdown .dropdown-footer {
  text-align: center;
  margin: 8px 0 0;
}
/* line 262, ../sass/header.scss */
#header #account .login-dropdown .logout-holder {
  margin-top: 3px;
}
/* line 266, ../sass/header.scss */
#header #account .login-dropdown .edit-email-holder {
  display: none;
}
