/* line 1, ../sass/main.scss */
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: Sans-serif;
}

/* line 8, ../sass/main.scss */
div.side_column {
  position: absolute;
  width: 17%;
  height: 100%;
  background-color: #505050;
  overflow: auto;
}
/* line 15, ../sass/main.scss */
div.side_column h3.body_title {
  padding: 5px 10px;
  margin: 0px;
  margin-top: 3px;
  color: rgba(14, 14, 14, 0.9);
  font-size: 16px;
  line-height: 16px;
}
/* line 24, ../sass/main.scss */
div.side_column div.tab_holder {
  padding-left: 8px;
  border-bottom: 1px solid #222222;
}
/* line 28, ../sass/main.scss */
div.side_column div.tab_holder div.section_title {
  display: inline-block;
  width: 50px;
  height: 20px;
  padding: 5px 8px 3px 6px;
  margin: 2px;
  margin-bottom: 0px;
  font-size: 16px;
  font-weight: bold;
  color: rgba(14, 14, 14, 0.9);
  border: 1px solid #222222;
  background-color: #5c5c5c;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom: none;
  text-align: center;
}
/* line 45, ../sass/main.scss */
div.side_column div.tab_holder div.section_title:hover {
  cursor: pointer;
}
/* line 49, ../sass/main.scss */
div.side_column div.tab_holder div.section_title div.cover {
  background-color: inherit;
  width: 50px;
  padding: 1px 8px 1px 6px;
  height: 1px;
  position: relative;
  bottom: -2px;
  left: -6px;
}
/* line 60, ../sass/main.scss */
div.side_column div.tab_holder div.active {
  background-color: #464646;
}

/* line 66, ../sass/main.scss */
canvas#cell_canvas {
  position: absolute;
  left: 17%;
  width: 66%;
  height: 100%;
  background-color: #53AAAD;
  border-left: 1px solid black;
}

/* line 75, ../sass/main.scss */
div.floating_visual {
  position: absolute;
  top: 30px;
  width: 14%;
  height: 225px;
  border: 2px solid rgba(53, 53, 53, 0.7);
  border-radius: 16px;
  background-color: rgba(115, 115, 115, 0.4);
}
/* line 84, ../sass/main.scss */
div.floating_visual canvas.visual_content {
  position: absolute;
  top: 15px;
  left: 6%;
  width: 88%;
  height: 79%;
}
/* line 92, ../sass/main.scss */
div.floating_visual p.visual_label {
  position: absolute;
  bottom: 4px;
  left: 8px;
  margin: 0px;
  color: #282828;
}

/* line 101, ../sass/main.scss */
div#action_visual {
  left: 19%;
}

/* line 105, ../sass/main.scss */
div#resource_visual {
  right: 19%;
}

/* line 109, ../sass/main.scss */
div#organ_visual {
  left: 35%;
}

/* line 113, ../sass/main.scss */
div#cell_visual {
  right: 35%;
}

/* line 117, ../sass/main.scss */
.bottom_info {
  position: absolute;
  bottom: 9px;
  margin: 0px;
  z-index: 1;
  color: rgba(60, 60, 60, 0.85);
}

/* line 125, ../sass/main.scss */
p#points {
  left: 18%;
}

/* line 129, ../sass/main.scss */
p#turns {
  right: 18%;
}

/* line 133, ../sass/main.scss */
.hidden {
  display: none;
}

/* line 137, ../sass/main.scss */
.error {
  color: red;
}
