/* line 3, ../sass/pathways.scss */
#pathway-holder {
  left: 0;
}
/* line 6, ../sass/pathways.scss */
#pathway-holder .pathway-holder {
  padding: 10px 6px;
  background-color: #5c5c5c;
  overflow: auto;
}
/* line 11, ../sass/pathways.scss */
#pathway-holder .pathway-holder .pathway {
  margin: 2px 2px 4px 2px;
  padding: 5px;
  background-color: rgba(70, 70, 70, 0.82);
  border: 1px solid rgba(63, 63, 63, 0.9);
  box-shadow: -3px -3px rgba(0, 0, 0, 0);
  border-radius: 7px;
  font-size: 12px;
  line-height: 12px;
}
/* line 21, ../sass/pathways.scss */
#pathway-holder .pathway-holder .pathway:first-child {
  margin-top: 0px;
}
/* line 25, ../sass/pathways.scss */
#pathway-holder .pathway-holder .pathway:last-child {
  margin-bottom: 0px;
}
/* line 29, ../sass/pathways.scss */
#pathway-holder .pathway-holder .pathway p {
  margin: 0px;
  color: #060606;
}
/* line 34, ../sass/pathways.scss */
#pathway-holder .pathway-holder .pathway .title {
  display: inline;
  margin-right: 8px;
  font-weight: bold;
}
/* line 40, ../sass/pathways.scss */
#pathway-holder .pathway-holder .pathway .catabolic {
  display: inline;
}
/* line 44, ../sass/pathways.scss */
#pathway-holder .pathway-holder .pathway .points {
  display: inline;
  float: right;
}
/* line 49, ../sass/pathways.scss */
#pathway-holder .pathway-holder .pathway .reaction {
  width: 80%;
  margin: 3px auto;
  border-collapse: collapse;
  color: black;
}
/* line 55, ../sass/pathways.scss */
#pathway-holder .pathway-holder .pathway .reaction td {
  width: 40%;
  padding-top: 1px;
  padding-bottom: 1px;
}
/* line 61, ../sass/pathways.scss */
#pathway-holder .pathway-holder .pathway .reaction .reactant {
  text-align: right;
  padding-right: 3px;
}
/* line 66, ../sass/pathways.scss */
#pathway-holder .pathway-holder .pathway .reaction .product {
  text-align: left;
  padding-left: 3px;
}
/* line 71, ../sass/pathways.scss */
#pathway-holder .pathway-holder .pathway .reaction .header {
  font-weight: bold;
}
/* line 75, ../sass/pathways.scss */
#pathway-holder .pathway-holder .pathway .reaction .lacking {
  color: #6f0c0c;
}
/* line 80, ../sass/pathways.scss */
#pathway-holder .pathway-holder .pathway .food-holder {
  margin: 10px auto;
  width: 198px;
}
/* line 84, ../sass/pathways.scss */
#pathway-holder .pathway-holder .pathway .food-holder .btn-group {
  margin: 2px 0px;
}
/* line 88, ../sass/pathways.scss */
#pathway-holder .pathway-holder .pathway .food-holder .eat {
  min-width: 90px;
}
/* line 93, ../sass/pathways.scss */
#pathway-holder .pathway-holder .pathway .lacking {
  position: relative;
  left: 2px;
  bottom: 2px;
  padding: 8px 0px 2px;
}
/* line 100, ../sass/pathways.scss */
#pathway-holder .pathway-holder .pathway .pathway-run {
  min-width: 60px;
}
/* line 106, ../sass/pathways.scss */
#pathway-holder [value|=global] {
  background-color: inherit;
}
