/* line 1, ../sass/reset-password.scss */
#reset-password-holder {
  width: 500px;
  margin: auto;
  padding-top: 125px;
}
/* line 6, ../sass/reset-password.scss */
#reset-password-holder #title {
  margin-bottom: 20px;
}
/* line 10, ../sass/reset-password.scss */
#reset-password-holder #message {
  padding-top: 15px;
  margin-left: 180px;
  font-size: 18px;
}
/* line 15, ../sass/reset-password.scss */
#reset-password-holder #message.success {
  color: green;
}
/* line 18, ../sass/reset-password.scss */
#reset-password-holder #message.error {
  color: red;
}
