/* line 3, ../sass/resources.scss */
div#resource_holder {
  right: 0px;
  border-left: 1px solid black;
}
/* line 7, ../sass/resources.scss */
div#resource_holder div.resource_holder#body {
  background-color: inherit;
}
/* line 11, ../sass/resources.scss */
div#resource_holder div.resource_holder {
  padding: 6px;
  padding-top: 3px;
  background-color: #464646;
  height: auto;
}
/* line 17, ../sass/resources.scss */
div#resource_holder div.resource_holder div.resource_data {
  width: 80%;
  margin: 10px auto;
  padding-top: 3px;
  padding-bottom: 1px;
  color: black;
  background-color: rgba(97, 97, 97, 0.9);
  border-radius: 3px;
  line-height: 14px;
  height: 17px;
}
/* line 28, ../sass/resources.scss */
div#resource_holder div.resource_holder div.resource_data p {
  display: inline-block;
  width: 45%;
  font-size: 14px;
}
/* line 34, ../sass/resources.scss */
div#resource_holder div.resource_holder div.resource_data p.resource_name {
  float: left;
  text-align: right;
}
/* line 39, ../sass/resources.scss */
div#resource_holder div.resource_holder div.resource_data p.resource_value {
  float: right;
  text-align: left;
}
