/* line 3, ../sass/resources.scss */
#resource-holder {
  right: 0px;
}
/* line 6, ../sass/resources.scss */
#resource-holder.theme_dark {
  border-left: 1px solid #232323;
}
/* line 9, ../sass/resources.scss */
#resource-holder.theme_light {
  border-left: 1px solid #646464;
}
/* line 13, ../sass/resources.scss */
#resource-holder .resource-data {
  width: 80%;
  height: 21px;
  margin: 8px auto;
  border-radius: 4px;
  font-size: 14px;
  line-height: 14px;
}
/* line 21, ../sass/resources.scss */
#resource-holder .resource-data .progress {
  background-image: none;
  border: 1px solid;
}
/* line 25, ../sass/resources.scss */
#resource-holder .resource-data .progress.theme_dark {
  background-color: #424242;
  border-color: #3f3f3f;
}
/* line 29, ../sass/resources.scss */
#resource-holder .resource-data .progress.theme_light {
  background-color: #c8c8c8;
  border-color: #a0a0a0;
}
/* line 35, ../sass/resources.scss */
#resource-holder .resource-data span {
  position: absolute;
  width: 48%;
  padding-top: 3px;
}
/* line 40, ../sass/resources.scss */
#resource-holder .resource-data span.theme_dark {
  color: #060606;
}
/* line 43, ../sass/resources.scss */
#resource-holder .resource-data span.theme_light {
  color: #060606;
}
/* line 48, ../sass/resources.scss */
#resource-holder .resource-data .resource-name {
  left: 0px;
  text-align: right;
}
/* line 53, ../sass/resources.scss */
#resource-holder .resource-data .resource-value {
  right: 0px;
  text-align: left;
}

/* line 60, ../sass/resources.scss */
#ph-holder {
  padding-top: 4px;
}

/* line 64, ../sass/resources.scss */
#resource-visual {
  position: relative;
  width: 100%;
  height: 185px;
  overflow: hidden;
}
/* line 70, ../sass/resources.scss */
#resource-visual.theme_dark {
  background-color: #505050;
  border-top: 1px solid #232323;
}
/* line 74, ../sass/resources.scss */
#resource-visual.theme_light {
  background-color: gainsboro;
  border-top: 1px solid #646464;
}
/* line 79, ../sass/resources.scss */
#resource-visual .resource-visual-header {
  padding-left: 10px;
}
/* line 82, ../sass/resources.scss */
#resource-visual .resource-visual-header.theme_dark {
  background-color: #323232;
  color: #afafaf;
  text-shadow: 1px 1px #0a0a0a;
  border-bottom: 1px solid #232323;
}
/* line 88, ../sass/resources.scss */
#resource-visual .resource-visual-header.theme_light {
  background-color: #f0f0f0;
  color: #505050;
  text-shadow: 1px 1px #c8c8c8;
  border-bottom: 1px solid #646464;
}
/* line 95, ../sass/resources.scss */
#resource-visual .resource-visual-header p, #resource-visual .resource-visual-header h3 {
  font-size: 16px;
  line-height: 20px;
  padding-top: 1px;
}
/* line 101, ../sass/resources.scss */
#resource-visual .resource-visual-header .resource-visual-amount {
  position: absolute;
  right: 6px;
  top: 0;
}
/* line 108, ../sass/resources.scss */
#resource-visual .resource-visual-content {
  position: absolute;
  display: none;
  left: 0;
  top: 20px;
  width: 92%;
  height: 170px;
  padding: 5px 4%;
}
/* line 118, ../sass/resources.scss */
#resource-visual .resource-visual-content p.theme_dark, #resource-visual .resource-visual-content td.theme_dark, #resource-visual .resource-visual-content th.theme_dark {
  color: #060606;
}
/* line 121, ../sass/resources.scss */
#resource-visual .resource-visual-content p.theme_light, #resource-visual .resource-visual-content td.theme_light, #resource-visual .resource-visual-content th.theme_light {
  color: #060606;
}
/* line 126, ../sass/resources.scss */
#resource-visual .resource-visual-content .resource-visual-image {
  position: absolute;
  right: 10px;
  top: 10px;
  height: 40%;
}
/* line 133, ../sass/resources.scss */
#resource-visual .resource-visual-content .resource-visual-formula {
  width: 30%;
  height: 40%;
  margin-top: 10px;
}
/* line 139, ../sass/resources.scss */
#resource-visual .resource-visual-content .resource-visual-description {
  padding-top: 5px;
  line-height: 16px;
}
