/* line 4, ../sass/resources.scss */
.resource-bar {
  height: 21px;
  border-radius: 4px;
  line-height: 14px;
}
/* line 9, ../sass/resources.scss */
.resource-bar .progress {
  background-image: none;
  background-color: #424242;
  border: 1px solid #3f3f3f;
  height: inherit;
}
/* line 16, ../sass/resources.scss */
.resource-bar span {
  position: absolute;
  width: 48%;
  font-size: 14px;
  padding-top: 3px;
  color: #060606;
}
/* line 24, ../sass/resources.scss */
.resource-bar .resource-name {
  left: 0px;
  text-align: right;
}
/* line 29, ../sass/resources.scss */
.resource-bar .resource-value {
  right: 0px;
  text-align: left;
}

/* line 36, ../sass/resources.scss */
#resource-holder {
  right: 0px;
  border-left: 1px solid #232323;
}
/* line 41, ../sass/resources.scss */
#resource-holder .resource-holder .resource-data {
  width: 80%;
  margin: 10px auto;
}

/* line 48, ../sass/resources.scss */
#ph-holder {
  padding-top: 6px;
}
