/* line 3, ../sass/trackers.scss */
#tracker-holder {
  position: absolute;
  left: 19%;
  bottom: 0;
  width: 62%;
  table-layout: fixed;
}
/* line 10, ../sass/trackers.scss */
#tracker-holder .tracker {
  bottom: 0;
  border: 1px solid;
}
/* line 14, ../sass/trackers.scss */
#tracker-holder .tracker.theme_dark {
  background-color: #323232;
  border-color: #232323;
}
/* line 18, ../sass/trackers.scss */
#tracker-holder .tracker.theme_light {
  background-color: #f0f0f0;
  border-color: #646464;
}
/* line 23, ../sass/trackers.scss */
#tracker-holder .tracker:last-child {
  border-right: none;
}
/* line 27, ../sass/trackers.scss */
#tracker-holder .tracker .tracker-header {
  position: relative;
  width: 100%;
}
/* line 31, ../sass/trackers.scss */
#tracker-holder .tracker .tracker-header.theme_dark {
  border-bottom: 1px solid #515151;
}
/* line 34, ../sass/trackers.scss */
#tracker-holder .tracker .tracker-header.theme_light {
  border-bottom: 1px solid #8c8c8c;
}
/* line 38, ../sass/trackers.scss */
#tracker-holder .tracker .tracker-header h3 {
  top: 1px;
  line-height: 22px;
  font-size: 18px;
}
/* line 44, ../sass/trackers.scss */
#tracker-holder .tracker .tracker-header .tracker-title {
  margin-left: 8px;
}
/* line 48, ../sass/trackers.scss */
#tracker-holder .tracker .tracker-header .tracker-amount {
  position: absolute;
  right: 5px;
}
/* line 54, ../sass/trackers.scss */
#tracker-holder .tracker .tracker-organ {
  position: relative;
  width: 100%;
  height: 28px;
}
/* line 59, ../sass/trackers.scss */
#tracker-holder .tracker .tracker-organ.theme_dark {
  border-bottom: 1px solid #3c3c3c;
}
/* line 62, ../sass/trackers.scss */
#tracker-holder .tracker .tracker-organ.theme_light {
  border-bottom: 1px solid #a0a0a0;
}
/* line 66, ../sass/trackers.scss */
#tracker-holder .tracker .tracker-organ p {
  margin-top: 9px;
  margin-bottom: 0;
  line-height: 13px;
  font-size: 13px;
  position: absolute;
  float: right;
}
/* line 75, ../sass/trackers.scss */
#tracker-holder .tracker .tracker-organ .organ-name {
  right: 32px;
}
/* line 79, ../sass/trackers.scss */
#tracker-holder .tracker .tracker-organ .organ-amount {
  right: 6px;
}
/* line 83, ../sass/trackers.scss */
#tracker-holder .tracker .tracker-organ .tracker-icon-holder {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
/* line 90, ../sass/trackers.scss */
#tracker-holder .tracker .tracker-organ .tracker-icon-holder .tracker-icon {
  position: absolute;
  left: 80%;
  top: 0;
  height: 100%;
  opacity: 0;
}
/* line 102, ../sass/trackers.scss */
#tracker-holder .selected-organ.theme_dark {
  background-color: #353535;
}
/* line 105, ../sass/trackers.scss */
#tracker-holder .selected-organ.theme_light {
  background-color: #d0d0d0;
}
