/* line 1, ../sass/verify-email.scss */
#verify-email-holder {
  width: 500px;
  margin: auto;
  padding-top: 125px;
}
/* line 6, ../sass/verify-email.scss */
#verify-email-holder #title {
  margin-bottom: 20px;
}
/* line 10, ../sass/verify-email.scss */
#verify-email-holder #message {
  padding-top: 15px;
  margin-left: 180px;
  font-size: 18px;
}
/* line 15, ../sass/verify-email.scss */
#verify-email-holder #message.success {
  color: green;
}
/* line 18, ../sass/verify-email.scss */
#verify-email-holder #message.error {
  color: red;
}
