// colors
$textColor:           rgb( 6,   6,   6);
$borderColor:         rgb( 34,  34,  34);
$sidebarBackground:   rgb( 80,  80,  80);
$activeTabBackground: rgb( 92,  92,  92);
$tabBackground:       rgb( 70,  70,  70);
$elementBackground:   rgba(70,  70,  70,  0.82);
$elementBorderColor:  rgba(63,  63,  63,  0.9);
$visualBorderColor:   rgba(53,  53,  53,  0.7);
$visualBackground:    rgba(115, 115, 115, 0.4);
$visualTextColor:     rgba(38,  38,  38,  0.9);
$brainColor:          rgb( 213, 184, 217);
$muscleColor:         rgb( 218, 163, 153);
$liverColor:          rgb( 184, 227, 181);

// sizes
$sidebarWidth:  19%;
$visualPadding: 2%;
$visualWidth:   13%;

// fonts
$headerFontSize: 16px;
$textFontSize:   12px;