@import "compass/css3/transition";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";

/// SIZES ///
$sidebarWidth:          350px;
$headerHeight:          32px;
$accordianHeaderHeight: 20px;
$organPopupWidth:       350px;
$gameStateWidth:        265px;
$undoWidth:             47px;
$accountWidth:          250px;
$footerHeight:          158px;
$footerMinimizeHeight:  10px;
$trackerOrganHeight:    29px;
$resourceVisualContentHeight: 86px;
$overlayHeaderHeight:   46px;

@mixin input-placeholder {
    &:-moz-placeholder { @content; }
    &::-moz-placeholder { @content; }
    &:-ms-input-placeholder { @content; }
    &::-webkit-input-placeholder { @content; } 
}
