/// SIZES ///
$sidebarWidth:          20%;
$minSidebarWidth: 	    275px;
$headerHeight:          32px;
$accordianHeaderHeight: 20px;
$gameStateWidth:        300px;
$undoWidth:             47px;
$saveWidth:             83px;
$accountWidth:          300px;          // width of the account section and dropdown in the header
$settingsWidth:         185px;          // width of the settings section and dropdown in the header
$trackerOrganHeight:    28px;           // height of an individual organ in a primary resource tracker
$trackerHeight:         141px;          // height of the entire resource tracker table
$resourceVisualHeight:  165px;          // height of the resource visual in the resource sidebar

@mixin input-placeholder {
    &.placeholder { @content; }
    &:-moz-placeholder { @content; }
    &::-moz-placeholder { @content; }
    &:-ms-input-placeholder { @content; }
    &::-webkit-input-placeholder { @content; } 
}
