@import "base";

#account {
    width:  $accountWidth;

    .dropdown {
        form {
            margin: 0;
        }

        input[type=text], input[type=password] {
            width: $accountWidth - 26px - 10px - 2px;
            padding-right: 5px;
            padding-left: 5px;
            margin: 4px 0px;
        }

        .submit-holder {
            text-align: right;
        }

        #login {
            > div {
                position: relative;
            }

            .add-on {
                max-width: 128px;
            }
        }

        .add-on {
            top: 4px;
            right: 4px;
        }

        #email-info {
            > div {
                position: relative;
            }

            .verified {
                &[verified] {
                    max-width: 124px;
                }

                &:not([verified]) {
                    max-width: 165px;
                }

                .fa {
                    left: 12px;
                }

                p {
                    margin: 2px 4px;
                }
            }

            .edit-email {
                max-width: 64px;
                right: 35px;
            }
        }

        p {
            margin-bottom: 5px;
            display: block;
        }

        .button-holder {
            width: 100%;
            text-align: right;
        }

        .footer {
            margin: 8px 0;
            text-align: center;
        }

        #logout {
            margin-top: 3px;
        }

        #edit-email-authentication {
            display: none;

            p {
                margin-top: 0;
            }
        }
    }
}