@import "base";

#filter {
    position: absolute;
    left: 0;
    width: $sidebarWidth;
    padding-top: 5px;

    .row {
        width: 90%;
        margin: 5px auto;
        text-align: right;

        > * {
            width: 100%;
        }

        .input-prepend {
            margin-bottom: 0;
        }

        .buttons, .reactant-product {
            display: table;
            table-layout: fixed;

            .btn-group, .add-on-holder {
                display: table-cell;
                width: 50%;
                padding: 0 2px;

                &:first-child {
                    padding-left: 0;
                }

                &:last-child {
                    padding-right: 0;
                }

                input[type=button] {
                    width: 50%;
                    font-size: 12px;
                    height: 25px;
                }
            }
        }

        label {
            float: left;
            margin-top: 5px;
        }

        .passive {
            margin-top: -2px;
            margin-right: 5px;
        }
    }
}