@import "base";

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;

    #minimize-footer {
        width: 100%;
        height: $footerMinimizeHeight - 2;
        cursor: pointer;
        border-top: 1px solid;
        border-bottom: 1px solid;
    }

    > .content {
        height: $footerHeight - $footerMinimizeHeight;
    }
}
