@import "base";

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;

    #minimize-footer {
        width: 100%;
        height: $footerMinimizeHeight - 2;
        cursor: pointer;
        border-top-width: 1px;
        border-bottom-width: 1px;
    }

    > .content {
        display: none;
        height: $footerHeight - $footerMinimizeHeight;
    }
}
