body
{
    background-color: #BDBDBD;
}

div.main_column
{
    display: inline-block;
    position: absolute;
    top: 40px;
    height: 85%;
    background-color: #ABABAB;
    border: 2px solid #717171;
    border-radius: 18px;
    overflow: auto;
    padding: 10px;

    h2
    {
        font-family: Sans-serif;
        padding-top: 30px;
    }

    p.header
    {
        float: right;
        margin-right: 20px;
    }
}

div#actions_column
{
    left: 200px;
    width: 400px;
}

div#resources_column
{
    right: 200px;
    width: 450px;

    td.title
    {
        font-weight: bold;
        border: 2px solid black;
    }

    td
    {
        min-width: 150px;
        border: 1px solid black;
    }
}

.error
{
    color: red;
}

.hidden
{
    display: none;
}

div#tab_holder
{
    margin-left: 25px;

    div.tab_header
    {
        display: inline-block;
        border: 1px solid black;
        border-bottom: none;
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;
        margin-right: 5px;
        padding: 5px 10px 5px 10px;

        &:hover
        {
            cursor: pointer;
        }
    }
}


div.tab_content
{
    width: 100%;
    min-height: 400px;
    border: 1px solid black;
    border-radius: 10px;
}