@import "base";

#header {
    position: absolute;
    left: $sidebarWidth;
    width:  100% - 2*$sidebarWidth;
    height: $headerHeight;
    z-index: 1;
    border-bottom: 1px solid;

    p {
        display: inline-block;
        margin: 6px 7px 0;
    }

    .header-element {
        position: absolute;
        top: 0;
        min-height: 100%;
        border-right: 1px solid;
        border-bottom: 1px solid;
        border-left: 1px solid;

        .title {
            height: $headerHeight;
            cursor: pointer;

            .fa {
                position: absolute;
                top: 8px;
                right: 9px;
            }
        }

        .dropdown {
            display: none;
            padding: 10px 10px;
            z-index: 3;
        }
    }

    #undo {
        left: $gameStateWidth + 1;
        width: $undoWidth;
    }
}