@import "base";

#header {
    position: relative;
    height: $headerHeight;
    border-bottom: 1px solid;

    .title {
        p {
            line-height: $headerHeight;
            display: inline-block;
            margin-left: 6px;
        }    
    }

    .header-element {
        min-height: 100%;

        &.right {
            float: right;
            margin-right: -1px;

            .title {
                border-left: 1px solid;
            }
        }

        &.left {
            float: left;
            margin-left: -1px;

            .title {
                border-right: 1px solid;
            }
        }

        &.sidebar-title {
            width: $sidebarWidth + 2;

            .title {
                cursor: default;
                font-size: 18px;
                text-align: center;
            }

            .fa {
                cursor: pointer;
                padding: 8px;
            }

            &.right .fa {
                float: left;
            }

            &.left .fa {
                float: right;
            }
        }

        .title {
            position: relative;
            height: $headerHeight;
            cursor: pointer;
        }

        &:not(.sidebar-title) .title .fa {
            position: absolute;
            top: 8px;
            right: 9px;
        }

        .dropdown {
            position: relative;
            z-index: 2;
            display: none;
            padding-top: 10px;
            border: 1px solid;
            border-top: none;
        }
    }

    #undo {
        width: $undoWidth;
    }

    #open-menu {
        width: $openMenuWidth;
        position: relative;

        .cover {
            position: absolute;
            bottom: -1px;
            width: $openMenuWidth - 2px;
            height: 1px;
            left: 1px;
        }
    }
}