@import "base";

#header {
    position: relative;
    height: $headerHeight;
    line-height: $headerHeight;
    z-index: 1;
    border-bottom: 1px solid;

    .title {
        p {
            display: inline-block;
            margin-left: 6px;
        }    
    }

    .header-element {
        min-height: 100%;

        &.right {
            float: right;
            margin-right: -1px;

            .title {
                border-left: 1px solid;
            }
        }

        &.left {
            float: left;
            margin-left: -1px;

            .title {
                border-right: 1px solid;
            }
        }

        &.sidebar-title {
            width: $sidebarWidth + 2;

            .title {
                cursor: default;
                font-size: 18px;

                p {
                    margin-left: 10px;
                }
            }
        }

        .title {
            position: relative;
            height: $headerHeight;
            cursor: pointer;

            .fa {
                position: absolute;
                top: 8px;
                right: 9px;
            }
        }

        .dropdown {
            display: none;
            padding: 10px 10px;
            z-index: 3;
            border: 1px solid;
            border-top: none;
        }
    }

    #undo {
        left: $gameStateWidth + 1;
        width: $undoWidth;
    }
}