@import "_base";

#log {
    width: $logWidth;

    .notifications {
        border: 1px solid;
        min-height: 300px;
        margin: 0 10px 10px;

        .notification {
            border-bottom: 1px solid;
            font-size: 12px;
            line-height: 14px;
            padding: 3px;
        }
    }
}