@import "_base";

#log {
    width: $logWidth;

    .notifications {
        border-width: 1px;
        min-height: 300px;
        margin: 0 10px 10px;

        .notification {
            border-bottom-width: 1px;
            font-size: 12px;
            line-height: 14px;
            padding: 3px;
        }
    }
}