@import "base";
@import "compass/css3/user-interface";

html, body {
    width:  100%;
    height: 100%;
    margin: 0;
    font-family: Sans-serif;
    @include user-select(none);
}

.sidebar {
    position: absolute;
    width:  $sidebarWidth;
    height: 100%;
    background-color: $sidebarBackground;
    overflow: hidden;

    .organ-title {
        margin:  3px 0px 0px 0px;
        padding: 5px 10px;
        color: $textColor;
        font-size:   $headerFontSize;
        line-height: $headerFontSize;
        font-weight: bold;
    }

    .tab-holder {
        padding-left: 8px;
        border-bottom: 1px solid $borderColor;

        .organ-title {
            display: inline-block;
            width:  64px;
            height: 20px;
            margin:  2px 2px 0px 2px;
            padding: 5px 0px 0px 0px;
            background-color: $tabBackground;
            border: 1px solid $borderColor;
            border-bottom: none;
            border-top-right-radius: 5px;
            border-top-left-radius:  5px;
            text-align: center;

            &:hover {
                cursor: pointer;
            }

            .cover {
                position: relative;
                bottom: -4px;
                width:  100%;
                height: 1px;
                padding: 0;
                background-color: inherit;
            }
        }

        .active {
            background-color: $activeTabBackground;
        }
    }

    .mCSB_container {
        margin-right: 10px;
    }

    .mCSB_scrollTools {
        width: 6px !important;
    }
}

#cell-canvas {
    position: absolute;
    left: $sidebarWidth;
    width:  100% - 2*$sidebarWidth;
    height: 100%;
    border-left: 1px solid $borderColor;
}

.brain {
    background-color: $brainColor;
}

.muscle {
    background-color: $muscleColor;
}

.liver {
    background-color: $liverColor;
}

.floating-visual {
    position: absolute;
    top: 30px;
    width:  $visualWidth;
    height: 225px;
    border: 2px solid $visualBorderColor;
    border-radius: 16px;
    background-color: $visualBackground;

    .visual-content {
        position: absolute;
        top:  15px;
        left: 6%;
        width:  88%;
        height: 79%;
    }

    .image-content {
        position: absolute;
        margin-top: 10px;
        margin-right: 5%;
        margin-left: 5%;
        width: 90%;
    }

    .visual-label {
        position: absolute;
        bottom: 4px;
        left:   8px;
        margin: 0px;
        color: $visualTextColor;
    }
}

#pathway-visual {
    left: $sidebarWidth + $visualPadding;
}

#resource-visual {
    right: $sidebarWidth + $visualPadding;
}

#organ-visual {
    left: $sidebarWidth + $visualPadding + $visualWidth + $visualPadding;
}

#cell-visual {
    right: $sidebarWidth + $visualPadding + $visualWidth + $visualPadding;
}

.bottom-info {
    position: absolute;
    bottom: 9px;
    margin: 0px;
    z-index: 1;
    color: $visualTextColor;
}

#points {
    left: $sidebarWidth + $visualPadding;
}

#turns {
    right: $sidebarWidth + $visualPadding;
}

.hidden {
    display: none;
}

.error {
    color: red;
}
