@import "base";
@import "compass/css3/user-interface";

html, body {
    width:  100%;
    height: 100%;
    margin: 0;
    font-family: Sans-serif;
    @include user-select(none);
}

.input-dark {
    border-color: $inputDarkBorder !important;
    background: $inputDarkBackground !important;
}

.input-dark-add-on {
    border-color: $inputDarkBorder;

    .add-on {
        border-color: inherit !important;
        background: $inputDarkAddOnBackground !important;
    }

    input {
        border-color: inherit !important;
        background: $inputDarkBackground !important;
    }
}

.header-text {
    position: relative;
    background-color: $accordianHeaderBackground;
    color: $accordianHeaderTextColor;
    text-shadow: 1px 1px $textColor;
    border-bottom: 1px solid $accordianHeaderBorderColor;

    .organ-info {
        position: absolute;
        right: 10px;
        top: 2px;
        cursor: pointer;
    }

    p {
        padding-left: 10px;
        margin: 0;
    }
}

.sidebar {
    position: absolute;
    width:  $sidebarWidth;
    height: 100%;
    background-color: $sidebarBackground;
    overflow: hidden;
    z-index: 10;

    .sidebar-title {
        min-height: $headerHeight;

        p {
            margin: 0;
            padding-top: 6px;
            font-size: $headerHeight - 10px;
        }

        #pathway-filter-icon {
            position: absolute;
            right: 10px;
            top: 7px;
            margin: 0;

            &:hover {
                cursor: pointer;
            }
        }
    }

    .global {
        background: inherit;
        padding: 0px 6px;
    }

    .accordian-header {
        border-top: 1px solid $accordianHeaderBorderColor;

        .accordian-title {
            display: inline-block;
            margin: 0;

            &:hover {
                cursor: pointer;
            }
        }
    }

    .accordian-content {
        padding: 0px 6px;
        background: $accordianContentBackground;
    }

    .mCSB_container {
        margin-right: 10px;
    }

    .mCSB_scrollTools {
        width: 6px !important;
        height: 95% !important;
        margin-top: 5%;
    }
}

#header {
    position: absolute;
    left: $sidebarWidth;
    width: 100% - 2*$sidebarWidth;
    height: $headerHeight;
    background-color: $accordianHeaderBackground;
    border-bottom: 1px solid $accordianHeaderBorderColor;
    z-index: 5;

    p {
        display: inline-block;
        margin: 4px 5px 0px;
        color: $accordianHeaderTextColor;
        text-shadow: 1px 1px $textColor;
    }

    #account {
        float: right;
        width:  $accountWidth;
        min-height: 100%;
        border-left: 1px solid $borderColor;
        border-bottom: 1px solid $borderColor;
        min-height: 100%;
        background-color: inherit;

        .account-header {
            height: $headerHeight;

            &:hover {
                cursor: pointer;
            }
        }

        .icon-user {
            position: absolute;
            top: 7px;
            right: 7px;
            margin: 0;
        }

        .login-dropdown {
            display: none;
            background-color: inherit;
            width: 90%;
            padding: 10px 5%;

            input[type=text],input[type=password] {
                width: 94%;
                padding-right: 3%;
                padding-left: 3%;
            }

            p {
                margin-bottom: 5px;
                display: block;
            }

            .button-holder {
                width: 100%;
                text-align: right;
            }

            .control-group {
                margin: 0;
            }

            .dropdown-footer {
                text-align: center;
            }

            .error-info {
                color: red;
                margin: 0;
                max-width: 75%;
            }

            .success-info {
                color: green;
                margin: 0;
                max-width: 75%;
            }

            .logout-holder {
                margin-top: 3px;
            }
        }
    }
}

#cell-canvas {
    position: absolute;
    left: $sidebarWidth;
    width:  100% - 2*$sidebarWidth;
    height: 100%;
}

.floating-visual {
    position: absolute;
    top: $headerHeight + $visualTop;
    width:  $visualWidth;
    height: $visualHeight;
    border: 2px solid $visualBorderColor;
    border-radius: 16px;
    background-color: $visualBackground;

    .visual-content {
        position: absolute;
        top:  15px;
        left: 6%;
        width:  88%;
        height: 79%;
    }

    .image-content {
        position: absolute;
        margin-top: 10px;
        margin-right: 5%;
        margin-left: 5%;
        width: 90%;
    }

    .visual-label {
        position: absolute;
        bottom: 4px;
        left:   8px;
        margin: 0px;
        color: $visualTextColor;
    }
}

#pathway-visual {
    left: $sidebarWidth + $visualPadding;

    .reaction {
        p, i {
            position: absolute;
        }

        .reaction-title {
            font-weight: bold;
        }

        .reaction-multiplier {
            right: 0px;
        }

        .reactants {
            left: 0;
            top:  25px;
            width: 45%;
            text-align: center;
        }

        .products {
            right: 0;
            top:   25px;
            width: 45%;
            text-align: center;
        }

        .arrow-holder {
            position: absolute;
            top: 25px;
            width: 10%;
            left: 45%;
        }
    }
}

#resource-visual {
    right: $sidebarWidth + $visualPadding;
}

#organ-visual {
    left: $sidebarWidth + $visualPadding + $visualWidth + $visualPadding;
}

#cell-visual {
    right: $sidebarWidth + $visualPadding + $visualWidth + $visualPadding;
}

#ph-holder {
    position: absolute;
    top: $headerHeight + $visualTop + $visualHeight + 25px;
    right: $sidebarWidth + $visualPadding;
    width: $visualWidth;
    padding: 2px;
}

.bottom-info {
    position: absolute;
    z-index: 1;
    bottom: $bottomPadding;
    margin: 0px;
    color: $visualTextColor;
}

#points {
    left: $sidebarWidth + $visualPadding;
}

#turns {
    right: $sidebarWidth + $visualPadding;
}

#notification-holder {
    position: absolute;
    width: 40%;
    left: 30%;
    bottom: $bottomPadding;

    #notification {
        display: none;
        margin-bottom: 0px;

        #alert-message {
            min-height: 20px;
        }
    }
}

.hidden {
    display: none;
}

.error {
    color: red;
}
