@import "base";

#notifications {
    position: absolute;
    left: $sidebarWidth;
    width: 450px;

    .header {
        border: 1px solid;
        //border-bottom: none;
        padding-left: 10px;
        cursor: pointer;
        position: relative;

        .fa {
            position: absolute;
            right: 0;
            top: 0;
            margin: 3px 4px;
        }
    }

    .content {
        height: 0;
        max-height: 350px;
        border: 1px solid;
        border-bottom: none;
        border-top: none;
        overflow: hidden;

        .notification {
            padding: 3px;

            .message {
                padding-left: 30px;
                padding-right: 100px;
            }

            .time {
                float: right;
            }

            .fa {
                float: left;
                margin-right: 10px;
                margin-left: 5px;
                margin-top: 4px;
            }
        }
    }
}