@import "base";

.pathway {
    padding: 5px;
    margin: 5px;
    border-width: 1px;
    border-radius: 3px;
    line-height: 12px;
    font-size: 12px;

    &:not(.active) {
        .focus {
            display: none;
        }
    }

    .title {
        margin-bottom: 6px;
        cursor: pointer;

        .name {
            float: left;
            font-weight: bold;
            line-height: 22px;
        }

        .info {
            text-align: right;
        }
    }

    .reaction {
        width: 100%;

        td {
            border-width: 1px;
        }

        .amount {
            width: 13%;
            padding-right: 4px;
            padding-left: 4px;
        }

        .name {
            width: 37%;
            padding-right: 5px;
            padding-left: 5px;
        }

        .reactant {
            text-align: left;
        }

        .product {
            text-align: right;
        }

        .empty {
            width: 50%;
        }
    }

    .food {
        width: 100%;
        margin: 2px auto 4px;

        .btn-group {
            margin: 2px 0;
        }
    }

    .times, .eat {
        padding-top: 0;
        padding-bottom: 0;
        text-align: left;
        cursor: auto;
    }

    .run-holder {
        margin-top: 6px;
        white-space: nowrap;
    }
}
