@import "base";

#pathway-holder {
    left: 0;

    .pathway-holder {
        .pathway {
            position: relative;
            margin:  8px 4px 8px 4px;
            padding: 5px;
            border-radius: 7px;
            font-size:   12px;
            line-height: 12px;

            .pathway-inner {
                position: absolute;
                left: 0;
                top:  0;
                width: 100%;
                height: 100%;
                margin-left: -1px;
                margin-top: -1px;
                background-color: rgba(0, 0, 0, 0);
                border-radius: inherit;
                box-shadow: rgba(0, 0, 0, 0) 0 0 0 0 inset;
                border: 1px solid rgba(0, 0, 0, 0);
            }

            p {
                position: relative;
                text-shadow: none;
                z-index: 3;
            }

            .title {
                display: inline;
                margin-right: 8px;
                font-weight: bold;
            }

            .catabolic {
                display: inline;
            }
            
            .points {
                display: inline;
                float: right;
            }

            .reaction {
                position: relative;
                width: 80%;
                margin: 3px auto;
                z-index: 3;

                td {
                    width: 40%;
                    padding: 1px 0;
                }

                .reactant {
                    text-align: right;
                    padding-right: 3px;
                }

                .product {
                    text-align: left;
                    padding-left: 3px;
                }

                .header {
                    font-weight: bold;
                }

                .global {
                    font-weight: bold;
                }
            }

            .food-holder {
                width: 258px;
                margin: 2px auto 4px;

                .btn-group {
                    margin: 2px 0;
                }

                .eat {
                    min-width: 150px;
                }
            }

            p.lacking {
                position: relative;
                left:   2px;
                bottom: -7px;
                margin: 7px 0 6px;
            }

            .pathway-run {
                min-width: 64px;
            }
        }
    }
}

#pathway-filter {
    width: 100%;
    padding-bottom: 6px;
    display: none;

    .filter-row {
        width: 90%;
        margin: 5px auto;

        .input-prepend {
            margin: 0;
        }

        table {
            width: 100%;
        }
    }

    #filter-row-search {
        .input-prepend {
            width: 100%;
        }
    }

    #filter-row-buttons {
        table {
            table-layout: fixed;

            td {
                width: 50%;
                padding: 0 2px;

                &:first-child {
                    padding-left: 0;
                }

                &:last-child {
                    padding-right: 0;
                }

                .btn-group {
                    width: 100%;

                    input {
                        width: 50%;
                        font-size: 12px;
                        height: 25px;
                    }
                }
            }
        }
    }

    #filter-row-reaction {
        height: 30px;

        .input-prepend {
            display: inline-block;
        }
    }

    #filter-row-clear {
        text-align: right;
    }
}
