@import "base";

#reset-password {
    width: 400px;
    height: 300px;

    .content {
        padding: 0 50px;

        .message {
            display: none;
        }

        .continue {
            display: none;
            position: absolute;
            bottom: 20px;
            right: 20px;
        }

        input[type=password] {
            width: 286px;
            margin: 5px 0;
        }

        input[type=submit] {
            float: right;
        }

        .message {
            text-align: center;
            padding-top: 50px;
        }
    }
}