@import "base";
@import "compass/css3/transform";

.resources {
    display: table;
    table-layout: fixed;
    width: 100%;
    min-height: 20px;

    .res {
        font-size: 12px;
        cursor: default;

        &.primary {
            display: none !important;
        }

        .name, .amount, .points {
            text-align: center;
            white-space: nowrap;
        }

        .level-holder {
            position: relative;

            .limit-holder, .limit, .level-bar {
                position: absolute;
            }

            .limit {
                opacity: 0.5;
            }
        }
    }

    .res.vertical {
        height: 100%;
        display: table-cell;

        &:not(.compact) {
            .amount-holder {
                border-bottom-width: 1px;
            }

            .points-holder {
                border-top-width: 1px;
            }

            &:not(:last-of-type) {
                border-right-width: 1px;    
            }
            
        }

        .rotate {
            @include transform(translateX(-50%) translateY(-50%) rotate(90deg));
            position: absolute;
            top: 50%;
            left: 50%;
        }

        .amount-holder, .points-holder {
            max-height: 35px;
            line-height: 35px;
            position: relative;
        }

        .level-holder {
            .level-bar, .limit-holder, .limit {
                width: 100%;
            }

            .max {
                top: 0;
            }

            .min {
                bottom: 0;
            }
        }
    }

    .res.horizontal {
        width: 100%;
        position: relative;

        &:not(.compact) {
            .amount-holder {
                border-right-width: 1px;
            }

            .points-holder {
                border-left-width: 1px;
            }

            &:not(:last-of-type) {
                border-bottom-width: 1px;
            }
        }
        
        .amount-holder, .points-holder {
            max-width: 35px;
            position: absolute;
            top: 0;
        }

        .amount-holder {
            left: 0;
        }

        .points-holder {
            right : 0;
        }

        .level-holder {
            .level-bar, .limit-holder, .limit {
                height: 100%;
            }

            .max {
                right: 0;
            }

            .min {
                left: 0;
            }

            .name {
                position: absolute;
                width: 100%;
            }
        }
    }
}
