@import "base";
@import "compass";

.resource-bar {
    height: 21px;
    border-radius: 4px;            
    line-height: 14px;

    .progress {
        background-image: none;
        background-color: $dark_elementBackground;
        border: 1px solid $dark_elementBorder;
        height: inherit;
    }

    span {
        position: absolute;
        width: 48%;
        font-size: 14px;
        padding-top: 3px;
        color: rgb(6, 6, 6);
    }

    .resource-name {
        left: 0px;
        text-align: right;
    }

    .resource-value {
        right: 0px;
        text-align: left;
    }

}

#resource-holder {
    right: 0px;
    border-left: 1px solid $dark_border;

    .resource-holder {
        .resource-data {
            width:  80%;
            margin: 10px auto;
        }
    }
}