@import "base";
@import "compass/css3/transform";

.resources {
    display: table;
    table-layout: fixed;
    width: 100%;
    min-height: 20px;

    .res {
        display: table-cell;
        height: 100%;
        border-right-width: 1px;
        font-size: 12px;
        cursor: default;

        > * {
            width: 100%;
        }

        .rotate {
            @include transform(translateX(-50%) translateY(-50%) rotate(90deg));
            position: absolute;
            top: 50%;
            left: 50%;
            text-align: center;
            white-space: nowrap;
        }

        &:not(.compact) {
            .amount-holder {
                border-bottom-width: 1px;
            }

            .points-holder {
                border-top-width: 1px;
            }    
        }

        .amount-holder, .points-holder {
            height: 35px;
            line-height: 35px;
            position: relative;
        }

        .level-holder {
            position: relative;

            .limit, .level {
                position: absolute;
                width: 100%;
            }

            .limit {
                opacity: 0.5;
            }

            .max {
                top: 0;
            }

            .min {
                bottom: 0;
            }
        }
    }
}
