.result-top {
    min-height: 300px;

    #classroom-holder {
        width: 21.25%;

        #classroom-info {
            margin-left: 15px;
            padding-bottom: 20px;
        }

        #classroom-code {
            display: block;
        }
    }

    #score-holder {
        width: 45%;
        text-align: center;

        #play-again {
            margin-top: 20px;
        }
    }

    #user-holder {
        width: 21.25%;
    }
}

.result-bottom {
    overflow: hidden;

    #statistics-holder {
        width: 71%;
    }

    #highscore-holder {
        width: 20%;
    }
}

.result-holder {
    display: inline-block;
    vertical-align: top;
    margin: 2%;
}