@import "base";

$resultsWidth:  850px;
$resultsHeight: 500px;

#results-overlay {
    display: none;

    #results {
        width: $resultsWidth;
        height: $resultsHeight;

        .content {
            position: relative;
            height: $resultsHeight - $overlayHeaderHeight - 1;

            .overview, .graph, .high-scores {
                position: absolute;
                width: 50%;

                > div {
                    padding: 10px;
                }

                .title {
                    border-bottom: 1px solid;
                    margin-bottom: 8px;
                }
            }

            .overview {
                top: 0;
                left: 0;
                height: 150px;

                .btn-group {
                    width: 100%;
                    margin-top: 15px;

                    .btn {
                        width: 50%;
                    }
                }
            }

            .graph {
                bottom: 0;
                left: 0;
                height: $resultsHeight - $overlayHeaderHeight - 1 - 150;
            }

            .high-scores {
                top: 0;
                right: 0;
                height: $resultsHeight - $overlayHeaderHeight - 1;
            }
        }
    }
}