@import "base";

#settings {
    right: $accountWidth + 1;
    width: $settingsWidth;

    .dropdown {
        width: $settingsWidth - 20;

        p {
            margin-bottom: 5px;
            display: block;
        }

        #themes {
            width: 100%;
            margin-bottom: 10px;
            display: table;
            table-layout: fixed;

            .theme {
                display: table-cell;
                padding-right: 0;
                padding-left: 0;
            }
        }
    }
}