@import "base";

#state {
    width: $gameStateWidth;

    .dropdown {
        .content {
            margin: 0 10px 10px;
            width: $gameStateWidth - 24px;

            &:not(.active) {
                display: none;
            }
        }

        .tabs {
            display: table;
            width: 100%;

            .tab {
                display: table-cell;
                padding: 2px;
                text-align: center;
                cursor: pointer;

                &:not(:last-of-type) {
                    border-right-width: 1px;
                }

                &:not(.active) {
                    border-top-width: 1px;
                }
            }
        }

        #limited-resources {
            line-height: 14px;
            font-size: 12px;

            .organ-header {
                cursor: pointer;
            }

            .hidden {
                display: none;
            }

            td {
                padding: 3px;
                border-width: 1px;
            }

            .change, .amount, .min, .max, .total {
                text-align: right;
            }

            .center {
                text-align: center;
            }
        }
    }
}