@import "base";

#tracker-holder {
    position: absolute;
    left: $sidebarWidth;
    width: 100% - 2*$sidebarWidth;
    max-width: 100% - 2*$sidebarWidth;
    bottom: 0;

    .tracker {
        height: $trackerHeight;
        z-index: 10;
        bottom: 0px;

        &.theme_dark {
            color: $dark_text;
            text-shadow: 1px 1px $dark_textShadow;
            background-color: $dark_background;
            border: 1px solid $dark_border;
        }
        &.theme_light {
            color: $light_text;
            text-shadow: 1px 1px $light_textShadow;
            background-color: $light_background;
            border: 1px solid $light_border;
        }

        .tracker-header {
            position: relative;
            width: 100%;

            &.theme_dark {
                border-bottom: 1px solid $dark_trackerHeaderBorder;
            }
            &.theme_light {
                border-bottom: 1px solid $light_trackerHeaderBorder;
            }
            
            h3 {
                margin: 0;
                line-height: 22px;
                font-size: 18px;
            }

            .tracker-title {
                margin-left: 10px;
            }

            .tracker-amount {
                position: absolute;
                right: 9px;
                top: 0;
            }
        }

        .tracker-organ {
            height: $trackerOrganHeight;
            width: 100%;
            position: relative;

            &.theme_dark {
                border-bottom: 1px solid $dark_trackerOrganBorder;
            }
            &.theme_light {
                border-bottom: 1px solid $light_trackerOrganBorder;
            }

            p {
                margin-top: 9px;
                margin-bottom: 0;
                line-height: 13px;
                font-size: 13px;
                position: absolute;
                float: right;
            }

            .organ-name {
                right: 32px;
            }

            .organ-amount {
                right: 6px;
            }

            .tracker-icon-holder {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;

                .tracker-icon {
                    position: absolute;
                    top: 0;
                    left: 80%;
                    opacity: 0;
                    height: 100%;
                }
            }
        }
    }

    .selected-organ {
        &.theme_dark {
            background-color: lighten($dark_background, 1.25%);
        }
        &.theme_light {
            background-color: darken($light_background, 12.5%);
        }
    }
}
