#verify-email-holder {
    width: 500px;
    margin: auto;
    padding-top: 125px;

    #title {
        margin-bottom: 20px;
    }

    #message {
        padding-top: 15px;
        margin-left: 180px;
        font-size: 18px;

        &.success {
            color: green;
        }
        &.error {
            color: red;
        }
    }
}