config.rb
/.sass-cache
/img/molecules/pdf/
/protected/runtime/
/css/
/protected/config/
/yii/
index.php
index_full.php
index_unavailable.php
protected/yiic.php
hours.txt
game_modes.txt
export-src.py
*.sublime-project
*.sublime-workspace
*.aux
*.log
*.pdf
*.tex
