config.rb
/.sass-cache
/img/molecules/pdf/
/protected/runtime/
/css/
/protected/config/
/yii/
/sass/themes/*
!/sass/themes/_template.scss
index.php
index_full.php
index_unavailable.php
protected/yiic.php
timesheet.txt
TODO.txt
export-src.py
*.sublime-project
*.sublime-workspace
*.aux
*.log
*.pdf
*.tex
