@import "base";

$text:                 rgb( 230, 230, 230);
$textShadow:           rgb( 8,   8,   8);
$border:               rgb( 2,   2,   2);
$background:           rgb( 58,  58,  58);
$sidebarBackground:    rgb( 92,  92,  92);
$elementBackground:    rgb( 76,  76,  76);
$elementBorder:        rgb( 48,  48,  48);
$elementText:          rgb( 2,   2,   2);
$reactionBorder:       rgb( 22,  22,  22);
$inputBackground:      rgb( 41,  41,  41);
$inputAddOnBackground: rgb( 50,  50,  50);
$inputBorder:          rgb( 15,  15,  15);
$inputText:            rgb( 230, 230, 230);
$inputPlaceholder:     rgb( 172, 172, 172);
$trackerHeaderBorder:  rgb( 95,  95,  95);
$trackerOrganBorder:   rgb( 81,  81,  81);
$resultCover:          rgb( 0,   0,   0);
$lacking:              rgba(121, 0,   0,   0.3);
$limitingReagent:      rgba(0,   0,   121, 0.3);
$resourceGood:         rgba(0,   121, 0,   0.3);
$resourceBad:          rgba(161, 0,   0,   0.3);
$softLimit:            rgba(210, 0,   0,   0.4);
$hardLimit:            rgba(35,  35,  35,  0.9);
$copyright:            rgba(35,  35,  35,  0.9);
$trackerActive:        lighten($background, 1.75%);

body[theme=night] {
    background-color: $background;

    p, h1, h2, h3, h4, h5, h6, label {
        color: $text;
        text-shadow: 1px 1px $textShadow;
    }

    .result-cover {
        background-color: $resultCover;
    }

    .input-themed {
        border-color: $inputBorder !important;
        color: $inputText;
        background: $inputBackground !important;
        @include input-placeholder {
            color: $inputPlaceholder;
        }
    }

    .input-themed-add-on {
        .add-on {
            border-color: $inputBorder !important;
            background: $inputAddOnBackground !important;
        }

        input {
            border-color: $inputBorder !important;
            background: $inputBackground !important;
        }
    }

    .header-text {
        background-color: $background;
    }

    #header {
        background-color: $background;
        border-color: $border;

        #game-state {
            border-color: $border;

            #point-dropdown {
                background-color: $background;

                #point-dist {
                    td {
                        border-color: $reactionBorder;
                        color: $text;
                    }

                    .good {
                        background-color: $resourceGood;
                    }

                    .bad {
                        background-color: $resourceBad;
                    }
                }
            }
        }

        #undo {
            border-color: $border;
        }

        #settings {
            border-color: $border;

            .settings-dropdown {
                background-color: $background;
            }
        }

        #account {
            border-color: $border;

            .login-dropdown {
                background-color: $background;
            }

            .forgot-password, .email-verified, .edit-email {
                border-color: $inputBorder;
                background: $inputAddOnBackground;
            }
        }
    }

    .sidebar {
        background-color: $sidebarBackground;

        .organ-popup {
            background-color: inherit;
            border-color: $border;
        }

        .accordian-header {
            border-color: $border;
        }
    }

    .notification-holder {
        background-color: $background;
    }

    #pathway-holder {
        border-color: $border;

        .pathway {
            background-color: $elementBackground;
            border-color: $elementBorder;

            p {
                color: $elementText;
            }

            .reaction {
                color: $elementText;

                td {
                    border-color: $reactionBorder;
                }

                .lacking {
                    background-color: $lacking;
                }

                .limiting-reagent {
                    background-color: $limitingReagent;
                }
            }
        }
    }

    #resource-holder {
        border-color: $border;

        .resource-data {
            .progress {
                background-color: $elementBackground;
                border-color: $elementBorder;
            }

            .soft {
                background-color: $softLimit;
            }

            .hard {
                background-color: $hardLimit;
            }

            span {
                color: $elementText;
            }
        }
    }

    #footer {
        #footer-minimize {
            background-color: $sidebarBackground;
            border-color: $border;
        }

        #trackers {
            .tracker {
                border-color: $border;
            }

            .header {
                border-color: $trackerHeaderBorder;
            }

            .organ {
                border-color: $trackerOrganBorder;
            }

            .active {
                background-color: $trackerActive;
            }
        }

        #resource-visual {
            .resource-visual-content {
                p {
                    color: $elementText;
                    text-shadow: none;
                }
            }
        }
    }
    
    #copyright {
        color: $copyright;
        text-shadow: none;
    }
}