@import "base";

$text:                 rgb( 200, 200, 200);
$textShadow:           rgb( 10,  10,  10);
$border:               rgb( 7,   7,   7);
$background:           rgb( 50,  50,  50);
$sidebarBackground:    rgb( 92,  92,  92);
$elementBackground:    rgb( 73,  73,  73);
$elementBorder:        rgb( 62,  62,  62);
$elementText:          rgb( 2,   2,   2);
$reactionBorder:       rgb( 48,  48,  48);
$inputBackground:      rgb( 38,  38,  38);
$inputAddOnBackground: rgb( 50,  50,  50);
$inputBorder:          rgb( 18,  18,  18);
$inputPlaceholder:     rgb( 153, 153, 153);
$trackerHeaderBorder:  rgb( 81,  81,  81);
$trackerOrganBorder:   rgb( 60,  60,  60);
$lacking:              rgba(111, 0,   0,   0.2);
$limitingReagent:      rgba(0,   0,   111, 0.2);
$resourceGood:         rgba(0,   111, 0,   0.2);
$resourceBad:          rgba(175, 0,   0,   0.2);
$resultCover:          rgb( 0,   0,   0);
$softLimit:            rgba(255, 0,   0,   0.4);
$hardLimit:            rgba(0,   0,   0,   0.4);
$copyright:            rgba(35,  35,  35,  0.9);
$trackerActive:        lighten($background, 1.25%);

body[theme=night] {
    background-color: $background;

    p, h1, h2, h3, h4, h5, h6, label {
        color: $text;
        text-shadow: 1px 1px $textShadow;
    }

    .result-cover {
        background-color: $resultCover;
    }

    .input-themed {
        border-color: $inputBorder !important;
        background: $inputBackground !important;
        @include input-placeholder {
            color: $inputPlaceholder;
        }
    }

    .input-themed-add-on {
        border-color: $inputBorder;

        .add-on {
            border-color: $inputBorder !important;
            background: $inputAddOnBackground !important;
        }

        input {
            border-color: $inputBorder !important;
            background: $inputBackground !important;
        }
    }

    .header-text {
        background-color: $background;
    }

    #header {
        background-color: $background;
        border-bottom: 1px solid $border;

        .header-element {
            border-right: 1px solid $border;
            border-bottom: 1px solid $border;
        }

        #game-state {
            background-color: inherit;

            #point-dropdown {
                background-color: inherit;

                #point-dist {
                    td {
                        border: 1px solid $border;
                        color: $text;
                    }

                    .good {
                        background-color: $resourceGood;
                    }

                    .bad {
                        background-color: $resourceBad;
                    }
                }
            }
        }

        #settings {
            background-color: inherit;
            border: 1px solid $border;
            border-top: none;

            .settings-dropdown {
                background-color: inherit;
            }
        }

        #account {
            background-color: inherit;

            border-left: 1px solid $border;
            border-bottom: 1px solid $border;

            .login-dropdown {
                background-color: inherit;
            }

            .forgot-password, .email-verified, .edit-email {
                border: 1px solid $inputBorder;
                background: $inputAddOnBackground;
            }
        }
    }

    .sidebar {
        background-color: $sidebarBackground;

        .accordian-header {
            border-top: 1px solid $border;
            border-bottom: none;
        }

        .accordian-header.active {
            border-bottom: 1px solid $border;
        }

        .organ-popup {
            background-color: $background;
            border: 1px solid $border;
        }
    }

    .notification-holder {
        background-color: $background;
        border: 1px solid $border;
    }

    #pathway-holder {
        border-right: 1px solid $border;

        .pathway {
            background-color: $elementBackground;
            border: 1px solid $elementBorder;

            p {
                color: $elementText;
            }

            .reaction {
                color: $elementText;

                td {
                    border: 1px solid $reactionBorder;
                }

                .lacking {
                    background-color: $lacking;
                }

                .limiting-reagent {
                    background-color: $limitingReagent;
                }
            }
        }
    }

    #resource-holder {
        border-left: 1px solid $border;

        .resource-data {
            .progress {
                background-image: none;
                border: 1px solid;

                background-color: $elementBackground;
                border-color: $elementBorder;
            }

            .soft {
                background-color: $softLimit;
            }

            .hard {
                background-color: $hardLimit;
            }

            span {
                color: $elementText;
            }
        }
    }

    #resource-visual-header {
        background-color: $background;
        border-top: 1px solid $border;
    }

    #resource-visual {
        background-color: $sidebarBackground;
        border-top: 1px solid $border;

        .resource-visual-content {
            p {
                color: $elementText;
                text-shadow: none;
            }
        }
    }

    #trackers {
        .tracker {
            background-color: $background;
            border-color: $border;
        }

        .header {
            border-bottom: 1px solid $trackerHeaderBorder;
        }

        .organ {
            border-color: $trackerOrganBorder;
        }

        .active {
            background-color: $trackerActive;
        }
    }

    #copyright {
        color: $copyright;
        text-shadow: none;
    }
}