@import "base";

$text:                 rgb( 80,  80,  80);
$textShadow:           rgb( 230, 230, 230);
$border:               rgb( 70,  70,  70);
$background:           rgb( 240, 240, 240);
$sidebarBackground:    rgb( 225, 225, 225);
$elementBackground:    rgb( 200, 200, 200);
$elementBorder:        rgb( 170, 170, 170);
$elementText:          rgb( 55,  55,  55);
$reactionBorder:       rgb( 130, 130, 130);
$inputBackground:      rgb( 220, 220, 220);
$inputAddOnBackground: rgb( 225, 225, 225);
$inputBorder:          rgb( 135, 135, 135);
$inputText:            rgb( 85,  85,  85);
$inputPlaceholder:     rgb( 125, 125, 125);
$trackerHeaderBorder:  rgb( 140, 140, 140);
$trackerOrganBorder:   rgb( 160, 160, 160);
$resultCover:          rgb( 255, 255, 255);
$lacking:              rgba(111, 0,   0,   0.25);
$limitingReagent:      rgba(0,   0,   111, 0.25);
$resourceGood:         rgba(0,   130, 0,   0.3);
$resourceBad:          rgba(220, 0,   0,   0.6);
$softLimit:            rgba(255, 0,   0,   0.4);
$hardLimit:            rgba(65,  65,  65,  0.9);
$copyright:            rgba(80,  80,  80,  0.85);
$trackerActive:        darken($background, 9%);

body[theme=frosted] {
    background-color: $background;

    p, h1, h2, h3, h4, h5, h6, label {
        color: $text;
        text-shadow: 1px 1px $textShadow;
    }

    input[type=text], input[type=password] {
        border-color: $inputBorder !important;
        color: $inputText;
        background: $inputBackground !important;
        @include input-placeholder {
            color: $inputPlaceholder;
        } 
    }

    .input-themed-add-on {
        .add-on {
            border-color: $inputBorder !important;
            background: $inputAddOnBackground !important;
        }

        input {
            border-color: $inputBorder !important;
            background: $inputBackground !important;
        }
    }

    #header {
        background-color: $background;
        border-color: $border;

        .header-element {
            border-color: $border;

            .dropdown {
                background-color: $background;
            }
        }

        #limited-resources {
            td {
                border-color: $reactionBorder;
                color: $text;
            }

            .good {
                background-color: $resourceGood;
            }

            .bad {
                background-color: $resourceBad;
            }
        }
    }

    .sidebar {
        background-color: $sidebarBackground;
        border-color: $border;

        .header-text {
            background-color: $background;
        }

        .organ-popup {
            background-color: inherit;
            border-color: $border;
        }

        .accordian-header {
            border-color: $border;
        }
    }

    .notification-holder {
        background-color: $background;
    }

    .pathway {
        background-color: $elementBackground;
        border-color: $elementBorder;

        p {
            color: $elementText;
        }

        .reaction {
            color: $elementText;

            td {
                border-color: $reactionBorder;
            }

            .lacking {
                background-color: $lacking;
            }

            .limiting-reagent {
                background-color: $limitingReagent;
            }
        }
    }

    .resource-data {
        .progress {
            background-color: $elementBackground;
            border-color: $elementBorder;
        }

        .soft {
            background-color: $softLimit;
        }

        .hard {
            background-color: $hardLimit;
        }

        span {
            color: $elementText;
        }
    }

    #footer {
        #footer-minimize {
            background-color: $sidebarBackground;
            border-color: $border;
        }

        #trackers {
            .tracker {
                border-color: $border;
            }

            .header {
                border-color: $trackerHeaderBorder;
            }

            .organ {
                border-color: $trackerOrganBorder;
            }

            .active {
                background-color: $trackerActive;
            }
        }

        #resource-visual {
            .resource-visual-content {
                p {
                    color: $elementText;
                    text-shadow: none;
                }
            }
        }
    }
    
    #copyright {
        color: $copyright;
        text-shadow: none;
    }
}