@import "base";

$text:                 rgb( 80,  80,  80);
$textShadow:           rgb( 230, 230, 230);
$border:               rgb( 70,  70,  70);
$background:           rgb( 240, 240, 240);
$sidebarBackground:    rgb( 225, 225, 225);
$elementBackground:    rgb( 200, 200, 200);
$elementBorder:        rgb( 170, 170, 170);
$elementText:          rgb( 55,  55,  55);
$reactionBorder:       rgb( 130, 130, 130);
$inputBackground:      rgb( 220, 220, 220);
$inputAddOnBackground: rgb( 225, 225, 225);
$inputBorder:          rgb( 135, 135, 135);
$inputPlaceholder:     rgb( 125, 125, 125);
$trackerHeaderBorder:  rgb( 140, 140, 140);
$trackerOrganBorder:   rgb( 160, 160, 160);
$lacking:              rgba(111, 0,   0,   0.25);
$limitingReagent:      rgba(0,   0,   111, 0.25);
$resourceGood:         rgba(0,   130, 0,   0.3);
$resourceBad:          rgba(220, 0,   0,   0.6);
$resultCover:          rgb( 255, 255, 255);
$softLimit:            rgba(255, 0,   0,   0.4);
$hardLimit:            rgb( 65,  65,  65);
$copyright:            rgba(80,  80,  80,  0.85);
$trackerActive:        darken($background, 9%);

body[theme=frosted] {
    background-color: $background;

    p, h1, h2, h3, h4, h5, h6, label {
        color: $text;
        text-shadow: 1px 1px $textShadow;
    }

    .result-cover {
        background-color: $resultCover;
    }

    .input-themed {
        border-color: $inputBorder !important;
        background: $inputBackground !important;
        @include input-placeholder {
            color: $inputPlaceholder;
        }
    }

    .input-themed-add-on {
        border-color: $inputBorder;

        .add-on {
            border-color: $inputBorder !important;
            background: $inputAddOnBackground !important;
        }

        input {
            border-color: $inputBorder !important;
            background: $inputBackground !important;
        }
    }

    .header-text {
        background-color: $background;
    }

    #header {
        background-color: $background;
        border-bottom: 1px solid $border;

        .header-element {
            border-right: 1px solid $border;
            border-bottom: 1px solid $border;
        }

        #game-state {
            background-color: inherit;

            #point-dropdown {
                background-color: inherit;

                #point-dist {
                    td {
                        border: 1px solid $reactionBorder;
                        color: $text;
                    }

                    .good {
                        background-color: $resourceGood;
                    }

                    .bad {
                        background-color: $resourceBad;
                    }
                }
            }
        }

        #settings {
            background-color: inherit;
            border: 1px solid $border;
            border-top: none;

            .settings-dropdown {
                background-color: inherit;
            }
        }

        #account {
            background-color: inherit;

            border-left: 1px solid $border;
            border-bottom: 1px solid $border;

            .login-dropdown {
                background-color: inherit;
            }

            .forgot-password, .email-verified, .edit-email {
                border: 1px solid $inputBorder;
                background: $inputAddOnBackground;
            }
        }
    }

    .sidebar {
        background-color: $sidebarBackground;

        .accordian-header {
            border-top: 1px solid $border;
            border-bottom: none;
        }

        .accordian-header.active {
            border-bottom: 1px solid $border;
        }

        .organ-popup {
            background-color: $background;
            border: 1px solid $border;
        }
    }

    .notification-holder {
        background-color: $background;
        border-top: 1px solid $border;
    }

    #pathway-holder {
        border-right: 1px solid $border;

        .pathway {
            background-color: $elementBackground;
            border: 1px solid $elementBorder;

            p {
                color: $elementText;
            }

            .reaction {
                color: $elementText;

                td {
                    border: 1px solid $reactionBorder;
                }

                .lacking {
                    background-color: $lacking;
                }

                .limiting-reagent {
                    background-color: $limitingReagent;
                }
            }
        }
    }

    #resource-holder {
        border-left: 1px solid $border;

        .resource-data {
            .progress {
                background-image: none;
                border: 1px solid;

                background-color: $elementBackground;
                border-color: $elementBorder;
            }

            .soft {
                background-color: $softLimit;
            }

            .hard {
                background-color: $hardLimit;
            }

            span {
                color: $elementText;
            }
        }
    }

    #footer {
        #footer-minimize {
            border-top: 1px solid $border;
            border-bottom: 1px solid $border;
            background-color: $sidebarBackground;
        }

        #trackers {
            .tracker {
                background-color: $background;
                border-right: 1px solid $border;
                border-left: 1px solid $border;
            }

            .header {
                border-bottom: 1px solid $trackerHeaderBorder;
            }

            .organ {
                border-color: $trackerOrganBorder;
            }

            .active {
                background-color: $trackerActive;
            }
        }

        #resource-visual {
            background-color: $background;

            .resource-visual-content {
                p {
                    color: $elementText;
                    text-shadow: none;
                }
            }
        }
    }
    

    #copyright {
        color: $copyright;
        text-shadow: none;
    }
}