@import "base";

#menu .content.about {
    p {
        margin-top: 8px;
        margin-bottom: 20px;
    }

    .copyright {
        margin: 0;
        position: absolute;
        bottom: 15px;
        right: 40px;
        opacity: 0.65;
    }
}