@import "base";

#menu .content.new-game {
    .modes {
        width: 100%;
        display: table;
        border-spacing: 20px;
        table-layout: fixed;

        .mode {
            display: table-cell;
            border: 1px solid;
            border-radius: 10px;
            position: relative;
            cursor: pointer;

            &:before {
                content: "";
                display: block;
                margin-top: 80%;
            }

            svg {
                position: absolute;
                left: 0;
                top: 0;
            }

            .label {
                position: absolute;
                left: 0;
                bottom: 0;
                font-size: 22px;
                width: 94%;
                padding-right: 6%;
                padding-bottom: 4%;
                padding-top: 4%;
                border-top: 1px solid;
                text-align: right;

                .details {
                    display: none;
                    font-size: 14px;
                    line-height: 16px;
                    text-align: left;
                    margin-top: 3px;
                    margin-bottom: 0px;
                    padding-left: 25px;
                }
            }
        }
    }

    .mode-info {
        display: none;

        .play {
            float: right;
        }

        .title {
            display: inline-block;
            margin-bottom: 25px;
        }

        .challenges {
            display: inline-block;
        }

        .details {
            display: none;
        }
    }
}