@import "base";

#menu .content.settings {
    .themes {
        .theme {
            margin: 20px;
            padding: 10px;
            border-width: 1px;
            border-radius: 7px;
            position: relative;

            .name {
                margin-bottom: 8px;
                font-size: 16px;
            }

            .select {
                position: absolute;
                right: 10px;
                bottom: 10px;
            }
        }
    }
}