@import "base";

#menu .content.settings {
    .header.btn-group {
        margin-bottom: 15px;

        .btn {
            line-height: 21px;
            padding: 8px 16px;
        }

        .title {
            font-size: 21px;
            width: 250px;
            font-weight: bold;
            background: none;
        }

        .collapse {
            width: 60px;
        }
    }

    .themes {
        overflow: hidden;

        .theme {
            margin: 20px;
            padding: 10px;
            border-width: 1px;
            border-radius: 4px;
            position: relative;

            .name {
                margin-bottom: 8px;
                font-size: 16px;
            }

            .select {
                position: absolute;
                right: 10px;
                bottom: 10px;
            }
        }
    }

    .keybinds {
        overflow: hidden;

        .keybind {
            margin: 0 20px;
            padding: 10px;
            border-width: 1px;
            border-top-width: 0;    
            height: 40px;

            &:first-of-type {
                margin-top: 20px;
                border-top-width: 1px;
                @include border-top-radius(3px);
            }

            &:last-of-type {
                margin-bottom: 20px;
                @include border-bottom-radius(3px);
            }

            .title {
                float: left;
                height: 32px;
                margin: 4px;

                .name {
                    font-size: 20px;
                    line-height: 20px;
                }

                .description {
                    font-size: 12px;
                    line-height: 12px;
                }
            }

            .binding {
                float: right;
                margin: 0 8px;
                width: 175px;
                height: 30px;

                .focus {
                    display: none;
                    position: absolute;
                    width: 175px;

                    .left, .right {
                        font-size: 30px;
                        line-height: 30px;
                        opacity: 0.2;
                        padding-top: 3px;
                    }

                    .left {
                        float: left;
                    }

                    .right {
                        float: right;
                    }
                }

                .no-focus {
                    .key {
                        font-size: 20px;
                        line-height: 20px;
                    }

                    .description {
                        font-size: 10px;
                        line-height: 10px;
                    }
                }
            }
        }
    }
}