$text:                 rgb(175, 175, 175);
$textShadow:           rgb(10,  10,  10);
$border:               rgb(35,  35,  35);
$background:           rgb(50,  50,  50);
$sidebarBackground:    rgb(80,  80,  80);
$elementBackground:    rgb(66,  66,  66);
$elementBorder:        rgb(63,  63,  63);
$elementText:          rgb(6,   6,   6);
$inputBackground:      rgb(34,  34,  34);
$inputAddOnBackground: rgb(50,  50,  50);
$inputBorder:          rgb(18,  18,  18);
$trackerHeaderBorder:  rgb(81,  81,  81);
$trackerOrganBorder:   rgb(60,  60,  60);
$lackingText:          rgb(111, 12,  12);
$resultCover:          rgb(0,   0,   0);
$trackerActive:        lighten($background, 1.25%);

html, body {
    background-color: $background;
}

p, h1, h2, h3, h4, h5, h6, label {
    color: $text;
    text-shadow: 1px 1px $textShadow;
}

.result-cover {
    background-color: $resultCover;
}

.input-themed {
    border-color: $inputBorder !important;
    background: $inputBackground !important;
}

.input-themed-add-on {
    border-color: $inputBorder;

    .add-on {
        border-color: inherit !important;
        background: $inputAddOnBackground !important;
    }

    input {
        border-color: inherit !important;
        background: $inputBackground !important;
    }
}

.header-text {
    background-color: $background;
    border-bottom: 1px solid $border;
}

#header {
    background-color: $background;
    border-bottom: 1px solid $border;

    #settings {
        background-color: inherit;
        border: 1px solid $border;
        border-top: none;

        .settings-dropdown {
            background-color: inherit;
        }
    }

    #account {
        background-color: inherit;

        border-left: 1px solid $border;
        border-bottom: 1px solid $border;

        .login-dropdown {
            background-color: inherit;
        }

        .forgot-password {
            border-color: $inputBorder;
            background: $inputAddOnBackground;
        }

        .email-verified {
            border-color: $inputBorder;
            background: $inputAddOnBackground;
        }

        .edit-email {
            border-color: $inputBorder;
            background: $inputAddOnBackground;
        }
    }
}

.sidebar {
    background-color: $sidebarBackground;

    .accordian-header {
        border-top: 1px solid $border;
    }

    .organ-popup {
        background-color: $background;
        border: 1px solid $border;
    }
}

.notification-holder {
    background-color: $background;
    border-color: $border;
}

#pathway-holder {
    border-right: 1px solid $border;

    .pathway {
        background-color: $elementBackground;
        border: 1px solid $elementBorder;

        p {
            color: $elementText;
        }

        .reaction {
            color: $elementText;

            .lacking {
                color: $lackingText;
            }
        }
    }
}

#resource-holder {
    border-left: 1px solid $border;

    .resource-data {
        .progress {
            background-image: none;
            border: 1px solid;

            background-color: $elementBackground;
            border-color: $elementBorder;
        }

        span {
            color: $elementText;
        }
    }
}

#resource-visual {
    background-color: $sidebarBackground;
    border-top: 1px solid $border;

    .resource-visual-header {
        background-color: $background;
        border-bottom: 1px solid $border;
    }

    .resource-visual-content {
        p {
            color: $elementText;
            text-shadow: none;
        }
    }
}

#tracker-holder {
    .tracker {
        background-color: $background;
        border-color: $border;
    }

    .tracker-header {
        border-bottom: 1px solid $trackerHeaderBorder;
    }

    .tracker-organ {
        border-color: $trackerOrganBorder;
    }

    .active {
        background-color: $trackerActive;
    }
}